#dietPlan-body-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    background-color: #181818;
}

#dietPlan-title-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid #f0eae3;
}

#dietPlan-title-title {
    font-family: 'Playfair Display', serif;
    font-size: 70pt;
    font-weight: 700;
    color: #f0eae3;
}

#dietPlan-title-change-days-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dietPlan-title-day {
    text-align: center;
    margin: 0;
    padding: 0 20px 0 20px;
    font-family: 'Inter', sans-serif;
    font-size: 45pt;
    font-weight: 100;
    color: #f0eae3;
}

#dietPlan-title-change-prev,
#dietPlan-title-change-next {
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 35pt;
    font-weight: 200;
    color: #f0eae3;
}

#dietPlan-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
}

.dietPlan-cards {
    bottom: 0;
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 78vw;
    margin-bottom: 40px;
    background-color: #f0eae3;
    border-radius: 25px;
}

.dietPlan-card-h2 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 35pt;
    font-weight: 500;
    color: #181818;
}


.dietPlan-card-sets,
.dietPlan-card-reps {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: #181818;
}

.dietPlan-card-play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #181818;
    font-size: 25pt;
}

#dietPlan-restday {
    font-family: 'Playfair Display', serif;
    color: #f0eae3;
    font-size: 70pt;
}

#dietPlan-accept-reject-container {
    margin-bottom: 50px;
}

#dietPlan-accept-button,
#dietPlan-reject-button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0eae3;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: #181818;
}

@media screen and (max-width: 750px) {
    #dietPlan-title-title {
        font-size: 60pt;
    }

    .dietPlan-cards {
        width: 72vw;
    }

    .dietPlan-card-h2 {
        font-size: 25pt;
        font-weight: 500;
    }


    .dietPlan-card-sets,
    .dietPlan-card-reps {
        font-size: 10pt;
        font-weight: 400;
    }

    .dietPlan-card-play {
        font-size: 40pt;
    }
}

@media screen and (max-width: 550px) {
    #dietPlan-title-title {
        font-size: 50pt;
    }


    #dietPlan-title-day {
        font-size: 30pt;
    }

    #dietPlan-title-change-prev,
    #dietPlan-title-change-next {
        font-size: 25pt;
    }

    .dietPlan-cards {
        width: 68vw;
    }

    .dietPlan-card-h2 {
        font-size: 20pt;
        font-weight: 500;
    }


    .dietPlan-card-sets,
    .dietPlan-card-reps {
        font-size: 9pt;
        font-weight: 400;
    }

    .dietPlan-card-play {
        right: 25px;
        font-size: 25pt;
    }

    #dietPlan-restday {
        font-family: 'Playfair Display', serif;
        color: #f0eae3;
        font-size: 60pt;
    }

    #dietPlan-accept-button,
    #dietPlan-reject-button {
        margin: 0px 5px 0px 5px;
        font-size: 10pt;
    }
}

@media screen and (max-width: 450px) {
    #dietPlan-title-title {
        font-size: 50pt;
    }

    #dietPlan-title-day {
        font-size: 30pt;
    }

    .dietPlan-card-h2 {
        font-size: 18pt;
        font-weight: 500;
    }


    .dietPlan-card-sets,
    .dietPlan-card-reps {
        font-size: 9pt;
        font-weight: 400;
    }

    .dietPlan-card-play {
        right: 20px;
        font-size: 25pt;
    }

    #dietPlan-restday {
        font-family: 'Playfair Display', serif;
        color: #f0eae3;
        font-size: 55pt;
    }
}

@media screen and (max-width: 390px) {
    #dietPlan-title-title {
        font-size: 50pt;
    }

    #dietPlan-title-day {
        font-size: 25pt;
    }

    #dietPlan-title-change-prev,
    #dietPlan-title-change-next {
        font-size: 20pt;
    }

    .dietPlan-card-h2 {
        font-size: 16pt;
    }

    #dietPlan-restday {
        font-family: 'Playfair Display', serif;
        color: #f0eae3;
        font-size: 50pt;
    }
    
    #dietPlan-accept-button,
    #dietPlan-reject-button {
        padding: 8px;
    }
}