#home-body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  background-color: #181818;
}

#home-title-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 100%;
  padding-bottom: 15px;
  border-bottom: 3px solid #f0eae3;
}

#home-title-h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70pt;
  font-weight: 700;
  color: #f0eae3;
}

#home-title-welcome {
  font-family: 'Inter', sans-serif;
  font-size: 17pt;
  font-weight: 300;
  color: #f0eae3;
}

#home-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

.home-cards {
  text-decoration: none;
  bottom: 0;
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 78vw;
  margin-bottom: 40px;
  background-color: #f0eae3;
  border-radius: 25px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.home-cards:hover {
  bottom: 5px;
}

.home-card-h2 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 35pt;
  font-weight: 500;
  color: #181818;
}

.home-card-p {
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 15pt;
  font-weight: 400;
  color: #181818;
}

.home-card-arrow {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Inter', sans-serif;
  font-size: 50pt;
  color: #181818;
}

.chart-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.chart-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-container > h2, .home-pb-h2, .home-intake-h2, .home-macro-h2 {
  margin: 0 0 5px 0 !important;
  font-size: 20pt;
  font-family: 'Inter', sans-serif !important;
}

.recharts-wrapper {
  width: unset !important;
  height: unset !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

@media screen and (max-width: 750px) {
  .home-cards {
    width: 72vw;
  }

  .home-card-h2 {
    font-size: 25pt;
    font-weight: 500;
  }

  .chart-container > h2, .home-pb-h2, .home-intake-h2, .home-macro-h2 {
    font-size: 15pt;
  }

  .home-card-p {
    font-size: 10pt;
    font-weight: 400;
  }

  .home-card-arrow {
    font-size: 40pt;
  }
}

@media screen and (max-width: 550px) {
  #home-title-h1 {
    font-size: 60pt;
  }

  .home-cards {
    width: 68vw;
  }

  .home-card-h2 {
    font-size: 20pt;
    font-weight: 500;
  }

  .chart-container > h2, .home-pb-h2, .home-intake-h2, .home-macro-h2 {
    font-size: 12pt;
  }

  .home-card-p {
    font-size: 9pt;
    font-weight: 400;
  }

  .home-card-arrow {
    right: 25px;
    font-size: 25pt;
  }
}