#reset-password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

#reset-top-section {
    background-color: #f0eae3;
    min-height: 50vh;
    width: 100%;
}

#reset-bottom-section {
    background-color: #181818;
    min-height: 50vh;
    width: 100%;
}

#reset-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

#reset-title {
    font-family: 'Playfair Display', serif;
    font-size: 48pt;
    font-weight: 700;
    color: #181818;
}

#reset-password-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: #aaaaaa;

}

#reset-label-input {
    width: 350px;
}

#reset-password-input {
    width: 340px;
    height: 40px;
    margin: 0 0 25px 0;
    border: none;
    background-color: #e2e2e2;
    border-radius: 5px;
    font-size: 15pt;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0 5px 0 5px;
}

#reset-password-label {
    font-family: 'Inter', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    margin: 0;
}

#reset-email-submit, #reset-password-submit {
    background-color: #181818;
    color: #f0eae3;
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
    font-weight: 200;
    border-radius: 5px;
    width: 350px;
    padding: 0;
    height: 40px;
    border: none;
}

#reset-password-link {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 109px;
    font-family: 'Inter', sans-serif;
    font-size: 11pt;
    font-weight: 500;
    color: #181818;
}

@media screen and (max-width: 550px) {
    #reset-container {
        width: 400px;
    }

    #reset-title {
        font-size: 35pt;
    }

    #reset-password-form {
        width: 280px;
    }

    #reset-label-input {
        width: 280px;
    }

    #reset-password-label {
        font-size: 11pt;
    }

    #reset-password-input {
        width: 270px;
    }

    #reset-password-submit, #reset-email-submit {
        width: 280px;
        font-size: 13pt;
    }

    #reset-password-link {
        width: 89px;
        font-size: 9pt;
    }
}

@media screen and (max-width: 450px) {
    #reset-container {
        width: 300px;
    }

    #reset-title {
        font-size: 27pt;
    }

    #reset-password-form {
        width: 180px;
    }

    #reset-label-input {
        width: 180px;
    }

    #reset-password-label {
        font-size: 10pt;
    }

    #reset-password-input {
        width: 170px;
    }

    #reset-password-submit, #reset-email-submit {
        width: 180px;
        font-size: 10pt;
    }

    #reset-password-link {
        
        width: 70px;
        font-size: 7pt;
    }
}